<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" name=".ASPXFORMSAUTH" defaultUrl="~/home.aspx"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
  
  <!--this is where ryans code is inserted start-->
    
    <anonymousIdentification enabled="false" /> <!-- Disallow Profiles to be used on Anonymous Users-->
  <profile>
    <properties> <!--Profile Properties-->
      <add name="UserID"/>
      <add name="UserName"/>
      <add name ="FirstName"/>
      <add name ="LastName"/>
      <add name ="Address"/>
    </properties>
  </profile>
    
    <!--this is where ryans code ends-->
    
  
  
  
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <!--<connectionStrings>
    <add name="conStrEventScapade" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source         =D:\\EventScapadeMDB.mdb"/>
  </connectionStrings>-->

<!--connection string identifies the pathway to the database-->
  <connectionStrings>
    <add name="conStrBMC" connectionString= "Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\\week8\\EventScapadeDB.mdb"/>
  </connectionStrings>
</configuration>