body {  
    font-family: Arial;
      /*height: 132px;*/
}/*end of body*/

.wrapper 
{

	/*background-image:url('../images/final.jpg');*/
    border: 0px solid #0000cc;
    margin: 0px auto;
	width: inherit;
	position:relative;
    top: 0px;
    height: 199px;
    left: 0px;
} /*end of wrapper*/

  .box 
{
	border-style: none;
    border-color: inherit;
    border-width: 0px;
	margin: 10px; width: 750px;
	background-position: 0px 0px; 
	float: left 
} /*end of box*/

  .container 
{
	border-style: none;
    border-color: inherit;
    border-width: 0px;
	margin: 10px; width: 970px;
	background-position: 0px 0px; 
	position:relative;
    padding-left:inherit;
    margin-left: auto;
    margin-right:auto;
} /*end of container*/

  .header
{
    width: 875px;
    height: 150px;
    background-image:url('../images/header.jpg');
    margin-left: auto;
    margin-right:auto;
    text-align:center;
    float:inherit;
}/*end of header style*/

.signIn {
    width: 250px;
    height: 150px;
    background-image:url('../images/greenBlock.png');
    margin:0 0 0 9px;
padding:0;top:0;
    text-align:right;
    border: 1px solid black;
    float:right;
    

}

.navBar {

    width: 970px;
    height: 60px;
    background-color: #CFB8E6;
   
    text-align:right;
    border: 1px solid black;
    

    margin: 0px auto;
	position:relative;
    top: 0px;
    
    

}

.navButton {
    padding-left:1px;
    padding-top:5px;
    top: 10px;
    float:left;
    height:50px;
    width:242px;
    margin: 5px auto;
    background-color:#B693D9;
    font-size:18px;
    color:#666666;
    font-weight:100;
    font-family:Georgia;
    

}

.overAllContainer {
    margin-left:auto;
    margin-right:auto;
    /*position: relative;*/
    width: auto;
    height: auto;
}
.threeColumnbox 
{
	border-style: none;
    border-color: inherit;
    border-width: 0px;
	margin: 10px; width: 960px;
	background-position: 0px 0px; 
	float: left;
}

.threeColumninnerbox 
{
	border-bottom: 0px; 
	border-left: 0px; 
	padding-bottom: 7px; 
	margin: auto; 
	padding-left: 2px; 
	width: 310px; 
	padding-right: 1px; 
	background-position: 0px 100%; 
	border-top: 0px; 
	border-right: 0px; 
	padding-top: 7px;
    float: left;
    text-align: center;
}

.table {
    text-align: left;
}

.contactTitle {
text-align:center;
}

.loginbutton {
    float: right;
    padding-left:10px;
    height: 47px;
}

.headerbar {
    width: auto;
    height: 70px;
    background-color: #CFB8E6;
    margin: 0px auto;
    top: 0px;
}

.loginPanel {
    float:right;
}


.footer {
    width: auto;
    height: 50px;
    background-color: #CFB8E6;
    margin: 0px auto;
    top: 0px;
}


